<!--Pokemon Grid-->
<div class="pokemon-grid">
  @for (pokemonBlock of pokemonInfo; track pokemonBlock.id){
    <div class="box">
      <div class="card-header">
        <div class="id-badge">Id: {{pokemonBlock.id}}</div>
      </div>
      <img [src]="pokemonBlock.sprites.front_default " alt="pokemon">
      <h3>{{pokemonBlock.name}}</h3>
      <div class="pokemon-content">
        <p>
          <b>Type:</b> {{pokemonBlock.types[0].type.name}}
          <!--pokemon.types?.[0].type.name-->
        </p>
        <p>
          <b>Height:</b> {{pokemonBlock.height}}
        </p>
        <p>
          <b>Order:</b> {{pokemonBlock.order}}
        </p>
      </div>
        <button class="pokemon-btn"  (click)="morePokemon(pokemonBlock.id)" >Show more</button>
    </div>
  }
</div>
<button class="btn-more-item" (click)="loadPokemon()">Show more</button>
<!--End Pokemon Grid-->
