<!--@if (pokemonMoreInfo) {-->
<!--  <div class="pokemon-detail__card">-->
<!--    <img [src]="pokemonMoreInfo.sprites.front_default" alt="avatar">-->
<!--    <div class="pokemon-detail__card-info">-->
<!--      <p>Id:{{pokemonMoreInfo.id}}</p>-->
<!--      <p>Name: {{pokemonMoreInfo.name}}</p>-->
<!--      <p>Height:{{pokemonMoreInfo.height}}</p>-->
<!--      <p>Order:{{pokemonMoreInfo.order}}</p>-->
<!--      <p>Stats: </p>-->
<!--      @for (pokemonStats of pokemonMoreInfo.stats; track pokemonMoreInfo.stats){-->
<!--        {{pokemonMoreInfo.stats}}-->
<!--      }-->
<!--    </div>-->
<!--  </div>-->
<!--}-->
